body {
background-color: #4d315a;
color: rgb(255, 255, 255);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #430091;
color: rgb(255, 230, 0);
font-family: "Bai Jamjuree", sans-serif;
}